@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-text: #1a1a1a;
  --primary: #4096ff;
  --main-bg: #fffd;
  --main-active-bg: #fff;
  --icon-color: #1e3050;
}

.dark {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --main-text: #e3e3e3;
  --primary: #6366f1;
  --main-bg: rgba(0,0,0,.8);
  --main-active-bg: #222327;
  --icon-color: #e3e3e3;
  --line-color: #737070;
}

body {
  color: var(--main-text);
  background-color: var(--main-bg);
  font-size: 14px;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
