input.ant-input-lg,
.ant-input-affix-wrapper-lg {
  border-radius: 56px;
  padding-left: 16px;
  padding-right: 16px;
}

.dark {
  input::placeholder {
    color: rgb(107 114 128);
  }

  .ant-input-affix-wrapper-focused, .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled) {

    &:hover,
    &:focus {
      border-color: var(--primary);
    }
  }

  .ant-input-affix-wrapper-focused {
    border-color: var(--primary);
    outline: solid 1px var(--primary);
  }
}